{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Flask Socket.Io</h3>
  <div>
    <label>Nome:</label>
    <input
      type="text"
      placeholder="Nome"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Codigo da Sala" name="code" value="{{code}}" />
    <button type="submit" name="join">Entrar na Sala</button>
  </div>
  <button type="submit" name="create" class="create-btn">Criar Sala</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
